@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap');

:root{
    --green:#080666;
    --background: black;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}


html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.7rem
}

html::-webkit-scrollbar-track{
    background: linear-gradient(rgb(160, 160, 160),rgb(13, 3, 70));
}

html::-webkit-scrollbar-thumb{
    background: var(--green);
}

section{
    padding: 2rem 9%;
    min-height: 100vh;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: #222;
}

.heading span{
    text-transform: uppercase;
    color: var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #222;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    z-index: 1000;
}

header .navbar{
    writing-mode: vertical-lr;
    padding: 1.5rem;
}

header .navbar a{
    padding: 1.5rem;
    font-size: 2rem;
    color: #222;
}

header .navbar a:hover{
    color: var(--green);
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top: 1rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
}

.home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.7rem solid var(--green);
}

.home .content h3{
    font-size: 4rem;
    color: #222;
    text-transform: uppercase;
}

.home .content h3 span{
    color: var(--green);
    text-transform: uppercase;
}

.home .content p{
    color: #222;
    font-size: 2.5rem;
    line-height: 2;
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}
.wrapper .button:hover{
    width: 200px;
    color: var(--green);
    border-radius: 40px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
    
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 100;
    line-height: 60px;
    margin-left: 10px;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    text-align: center;
    flex: 1 1 25rem;
}

.about .row .image img{
    width: 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .712);
}

.about .row .content{
    flex: 1 1 55rem;
}

.about .row .content h3{
    color: #222;
    font-size: 4rem
}
.about .row .content h3 span{
    color:var(--green);
}

.about .row .content .info{
    color: #222;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
}

.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.about .row .content .box-container .box{
    flex: 1 1 20rem;
}

.about .row .content .box-container .box p{
    font-size: 1.7rem;
    color: #222;
    padding: .5rem 0;
    line-height: 2;
    text-transform: lowercase;
}

.about .row .content .box-container .box p span{
    color: var(--green);
}

.skills .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
  }
  
  .skills .box-container .box {
    padding: 2rem;
    text-align: center;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border-radius: .5rem;
    background: #fff;
  }
  
  .skills .box-container .box:hover {
    background: #fff;
  }
  
  .skills .box-container .box:hover h3 {
    color: #0d0d0d;
  }
  
  .skills .box-container .box img {
    height: 7rem;
    margin-bottom: 1rem;
  }
  
  .skills .box-container .box h3 {
    color: #0d0d0d;
    font-size: 1.7rem;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .education .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .education .box-container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    margin-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3.5rem;
    padding-bottom: 3rem;
    border-left: 0.1rem solid #aaa;
    position: relative;
  }
  
  .education .box-container .box i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: 50%;
    background: var(--lowcolor);
    color: #1a1a1a;
    text-align: center;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
  }
  
  .education .box-container .box span {
    font-size: 1.7rem;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    background: var(--green);
  }
  
  .education .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: grey;
    font-style: italic;
    padding-top: 3rem;
    font-weight: normal;
  }
  
  .education .box-container .box p {
    font-size: 2rem;
    color: #0d0d0d;
    line-height: 2.5;
  }


.portfolio .box-container{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.712);
    overflow: hidden;
    height: 25rem;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.portfolio .box-container .box .content{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: -100%;
    background: #fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio .box-container .box:hover .content{
   left: 0;
}


.contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .contact .row .info-container {
    width: 40rem;
  }
  
  .contact .row .info-container h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #0d0d0d;
    padding-bottom: 1rem;
  }
  
  .contact .row .info-container p {
    font-size: 1.5rem;
    line-height: 2;
    color: #0d0d0d;
    text-transform: none;
    padding: 1rem 0;
  }
  
  .contact .row .info-container .box-container {
    padding: 2rem 0;
  }
  
  .contact .row .info-container .box-container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
  }
  
  .contact .row .info-container .box-container .box i {
    font-size: 3rem;
    color: var(--lowcolor);
  }
  
  .contact .row .info-container .box-container .box h3 {
    font-size: 2rem;
    color: #111010;
  }
  
  .contact .row .info-container .share a {
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, .1);
    color: #0d0d0d;
    text-align: center;
    margin-right: .3rem;
    transition: .2s;
  }
  
  .contact .row .info-container .share a:hover {
    background: var(--green);
    color: #fff;
  }
  
  .contact .row form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .contact .row form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .contact .row form .inputBox input {
    width: 49%;
  }
  
  .contact .row form .inputBox input,
  .contact .row form textarea {
    border-radius: 5rem;
    border-color: #27ae60;
    padding: 1.2rem 1.8rem;
    font-size: 1.6rem;
    color: #1a1a1a;
    text-transform: none;
    margin: .7rem 0;
    background: rgba(0, 0, 0, .1);
  }

  
  .contact .row form textarea {
    width: 100%;
    border-radius: 1rem;
    resize: none;
    height: 25rem;
    color: #0d0d0d;
  }
  
  .contact .row form .btn {
    padding: 1rem 3rem;
    cursor: pointer;
    color: #fff;
  }
  
  .contact .row form .btn:hover {
    background: var(--green);
    color: #0d0d0d;
  }
  

.footer{
    padding: 2.5rem;
    font-size: 2rem;
    color: #666;
    background: #fff;
    text-align: center;
}
.footer span{
    color: var(--green);
}






@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }

    section{
        padding: 2rem;
    }
    header{
        width: 100%;
        left: -120%;
    }

    header.active{
        left: 0%;
    }

    #menu-bars{
        display: initial;
    }
    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }
    .contact .row form .inputBox input{
        width: 100%;
    }
    
}